.navbar{
  align-items: center;
  background-color: black;
  display: flex;
  height: 55px;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.navbar a:hover{
  color: rgb(207, 207, 207);
}

.navbar div{
  display: flex;
  justify-content: space-between;
  width: 400px;
}

.navbar .logo-studio{
  justify-self: initial;
  position: absolute;
  top: 5px;
  left: 30px;
  width: 80px;
}
